<!DOCTYPE html>
<html>
<%- include('./../partials/head') %>

  <body>
    <%- include('./../partials/header') %>



      <main class="formCrear">
        <h1 class="titulo" id="bienvenida"> ¡Hola Bienvenido!!!</h1>
        <h2 class="titulo" id="contanos"> Contanos que queres Publicar </h2>

        <form action="/producto/crear" method="POST" class="formularioCrear" enctype="multipart/form-data">

          <div>
            <label for="idVendedor" class="labelCrear"> <input id="inputTex" type="hidden"
                name="idVendedor" value="<%= idVendedor %>"> </label>
          </div>

          <div>
            <label for="titulo" class="labelCrear"> Título <input id="inputTex" type="text" placeholder="Título de obra"
                name="titulo"></label>
          </div>

          <div>
            <label class="labelCrear"> Categoria de Producto</label>
          </div>

          <select name= "categoriasProducto" class="selectCategorias">
            <option selected> Elija Uno</option>
            <% for(let i=0; i< categorias.length;i++){ %>
            <option value ="<%= categorias[i].id%> " >
                 <%= categorias[i].categoria %>
            </option>
            <%}%>
          </select>

          <div>
            <label for="foto-Perfil" class="labelCrear"> Imagen de Producto</label>
            <div><input type="file" name="fotoProducto"></div>
          </div>

          <div>
            <label for="nombre-artista" class="labelCrear"> Nombre de Artista
              <input id="inputTex" type="text" placeholder="nombre de Artista" name="nombreArtista" id="nombre-artista">
            </label>
          </div>

          <div>
            <label for="caracteristicas-producto" class="labelCrear"> Detalle Producto
              <textarea id="inputTex" name="caracteristicasProducto" id="" cols="30" rows="10"
                placeholder="Detalle del Producto"></textarea>
            </label>
          </div>


          <div>
            <label class="labelCrear"> Condicion Producto </label>
            <div>

                <select name= "condicionProducto" class="selectCategorias">
                  <option selected>Elija Uno</option>
                  <% for (let i=0; i<condiciones.length; i++){ %>
                    <option value="<%=condiciones[i].id  %> ">
                    <%= condiciones[i].condicion %>
                  </option>
                  <% } %>
                </select>

            </div>
          </div>

          <div>
            <label for="precio" class="labelCrear"> Precio Producto
              <input id="inputTex" type="text" placeholder="Precio Producto" name="precio">
            </label>
          </div>
          <div>
            <label for="precio" class="labelCrear"> Stock Producto
              <input id="inputTex" type="text" placeholder="Precio Producto" name="stock">
            </label>
          </div>


          <div class="">
            <button type="reset" class="btn btn-secondary">Borrar Datos</button>
            <button type="submit" class="btn btn-secondary">Confirmar</button>
          </div>
        </form>

      </main>

      <%- include('./../partials/footer') %>
    <script src="/js/crearProductoValidacion.js"></script>


  </body>

</html>