<!DOCTYPE html>
<html>
<%- include('./../partials/head') %>

  <body>
    <%- include('./../partials/header') %>



      <main class="formCrear">
        <h1 class="titulo" id="bienvenida"> ¡Hola Bienvenido!!!</h1>
        <h2 class="titulo" id="contanos"> Contanos que queres Publicar </h2>

        <form id="formularioProducto"action="/producto/crear" method="POST" class="formularioCrear" enctype="multipart/form-data">

          <div>
            <label for="idVendedor" class="labelCrear"> <input id="inputTex" type="hidden"
                name="idVendedor" value="<%= idVendedor %>"> </label>
          </div>

          <div>
            <label for="titulo" class="labelCrear"> Título
           <div class="input-formulario">
            <input  type="text" placeholder="Título de obra"name="titulo" id="inputTitulo">
            <i class="formulario__validacion-estado fas fa-times-circle" id="iconoTitulo"></i>
            </div>
            </label>
            <div>
              <p class="inputError" id="parrafoErrorTitulo"> el Titulo del producto no puede estar vacio</p>
            </div>
          </div>

          <div>
            <label class="labelCrear"> Categoria de Producto</label>
          </div>

          <select name= "categoriasProducto" class="selectCategorias" id="inputCategoria">
            <option selected> Elija Uno</option>
            <% for(let i=0; i< categorias.length;i++){ %>
            <option value ="<%= categorias[i].id%> " >
                 <%= categorias[i].categoria %>
            </option>
            <%}%>
          </select>
          <div>
            <p class="inputError" id="parrafoErrorCategoria"> debes seleccionar una Categoria de Producto</p>
          </div>

          <div>
            <label for="foto-Perfil" class="labelCrear"> Imagen de Producto</label>
            <div class="input-formulario">
            <div><input type="file" name="fotoProducto" id="imagenProducto"></div>
            </div>
            <div>
              <p class="inputError" id="parrafoErrorImagen"> debes Cargar una imagen de tu Producto</p>
            </div>
          </div>

          <div>
            <label for="nombre-artista" class="labelCrear"> Nombre de Artista
              <div class="input-formulario">
                <input type="text" placeholder="nombre de Artista" name="nombreArtista" id="nombre-artista">
                <i class="formulario__validacion-estado fas fa-times-circle" id="iconoNombreArtista"></i>
                </div>
              </label>
            <div>
              <p class="inputError" id="parrafoErrorNombreArtista"> debes ingresar el Nombre del Artista</p>
            </div>
          </div>

          <div>
            <label for="caracteristicas-producto" class="labelCrear"> Detalle Producto
              <textarea  name="caracteristicasProducto" id="inputCaracteristicas" cols="30" rows="10"
                placeholder="Detalle del Producto"></textarea>
            </label>
            <div>
              <p class="inputError" id="parrafoErrorCaracteristicas"> debes ingresar el detalle del producto</p>
            </div>
          </div>


          <div>
            <label class="labelCrear"> Condicion Producto </label>
            <div>

                <select name= "condicionProducto" class="selectCategorias" id="condicionProducto">
                  <option selected>Elija Uno</option>
                  <% for (let i=0; i<condiciones.length; i++){ %>
                    <option value="<%=condiciones[i].id  %> ">
                    <%= condiciones[i].condicion %>
                  </option>
                  <% } %>
                </select>
              <div>
                <p class="inputError" id="parrafoErrorCondicion"> debes seleccionar la Condicion del Producto</p>
              </div>

            </div>
          </div>

          <div>
            <label for="precio" class="labelCrear"> Precio Producto
              <div class="input-formulario">
              <input id="precio" type="text" placeholder="Precio Producto" name="precio">
              <i class="formulario__validacion-estado fas fa-times-circle" id="iconoPrecio"></i>
              </div>
            </label>
            <div>
              <p class="inputError" id="parrafoErrorPrecio"> Indica el Precio del Producto</p>
            </div>
          </div>
          <div>
            <label for="precio" class="labelCrear"> Stock Producto
              <div class="input-formulario">
              <input type="text" placeholder="Precio Producto" name="stock" id="stock">
              <i class="formulario__validacion-estado fas fa-times-circle" id="iconoStock"></i>
              </div>
            </label>
            <div>
              <p class="inputError" id="parrafoErrorStock"> debes cargar el stock del producto</p>
            </div>
          </div>


          <div class="">
            <button type="reset" class="btn btn-secondary">Borrar Datos</button>
            <button type="submit" class="btn btn-secondary">Confirmar</button>
          </div>
        </form>
        <div class="errores">
          <ul></ul>
        </div>

      </main>

      <%- include('./../partials/footer') %>
    <script src="/js/crearProductoValidacion.js"></script>


  </body>

</html>