<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
<title>Todos los Productos</title>
<link rel="stylesheet" href="/css/productCard.css"/>
<body>
    <%- include('./../partials/header') %>
    <div class="contenedorFlex">
        <% for(let p of productos){ %>
        <div class="wrapper">
            <div class="product-img">
            <img src="http://bit.ly/2tMBBTd" height="420" width="327">
            </div>
            <div class="product-info">
            <div class="product-text">
                <h1><%= p.titulo %></h1>
                <h2><%= p.nombreArtista%></h2>
                <p><%= p.caracteristicasProducto%></p>
            </div>
            <div class="product-price-btn">
                <p class="precio"><span><%= p.precio%></span>$</p>
                <br>
                <button type="button">Ver detalle</button>
            </div>
            </div>
        </div>
        <% } %>
    </div>
    <%- include('./../partials/footer') %>
</body>

</html>