<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
    <title>Todos los Productos</title>
    <link rel="stylesheet" href="/css/lista.css">

    <body>
        <%- include('./../partials/header') %>
            <div class='container-fluid'>
                <% for(let p of products){%>
                    <div class="card col-md-3 col-10 mt-5">
                        <div class="imgContainer">
                            <img class='mx-auto img-thumbnail' src="/images/<%= p.nombre_imagen %>" width="190"
                                height="200" />
                        </div>
                        <div class="card-body text-center mx-auto w-100">
                            <div class='cvp w-100'>
                                <h5 class="card-title font-weight-bold">
                                    <%= p.titulo %>
                                </h5>
                                <p class="card-text">$<%= p.precio %>
                                </p>
                                <a href="/producto/<%=p.id%> " class="btn btn-success w-100 mb-1">Detalle
                                    Producto</a><br />
                                <a href="/producto/carritoV2" class="btn btn-primary w-100 mt-1"
                                    onclick="agregaCarrito('<%=p.titulo%>','<%=p.precio%>','<%=p.nombre_imagen%>')">Añadir
                                    a carrito</a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>

            <%- include('./../partials/footer') %>
                <script src="/js/agregaCarrito.js"></script>
    </body>

</html>