<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
    <title>Mis Productos</title>
    <link rel="stylesheet" href="/css/lista.css">

    <body>
        <%- include('./../partials/header') %>
            <h5 class="card-title font-weight-bold">
                <% for ( let i=0; i < usuarioLogueado.length; i++) { %>
                    Hola <%= usuarioLogueado[i].nombre +" " + usuarioLogueado[i].apellido  %>, estos son tus productos publicados!
                        <% } %>
            </h5>

            <div class='container-fluid'>
                <% for(let p of products){%>
                    <div class=" card mx-auto col-md-3 col-10 mt-5">
                        <div class="imgContainer">
                            <img class='mx-auto img-thumbnail' src="/images/<%= p.nombre_imagen %>" width="190"
                                height="200" />
                        </div>
                        <div class="card-body text-center mx-auto">
                            <div class='cvp'>
                                <h5 class="card-title font-weight-bold">
                                    <%= p.titulo %>
                                </h5>
                                <p class="card-text">$<%= p.precio %>
                                </p>
                                <a href="/producto/<%=p.id%> " class="btn details px-auto">Detalle Producto</a>
                                <br />
                                <a href="/producto/editar/ <%= p.id%> " class="btn details px-auto"> Editar Producto
                                </a>
                                <br />
                                <form action="/producto/delete/ <%=p.id%>?_method=DELETE " method="POST">
                                    <button type="submit" class="btn cart px-auto">
                                        Eliminar Producto</button>
                                </form>
                                <br />
                                <!-- <a href="/producto/carrito" class="btn cart px-auto">Añadir a carrito</a> -->
                            </div>
                        </div>
                        </div>
                        <% } %>
                            </div>

                            <%- include('./../partials/footer') %>
    </body>

</html>