<!DOCTYPE html>
<html>

<%- include('./../partials/head') %>
	<!--CSS PRODUCTO-->
	<title>
		<%= producto.titulo %>
	</title>
	<link rel="stylesheet" href="/css/nicepage.css" media="screen">
	<link rel="stylesheet" href="/css/Casa.css" media="screen">
	<script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
	<script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
	<meta name="generator" content="Nicepage 3.22.0, nicepage.com">
	<link id="u-theme-google-font" rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
	<link id="u-page-google-font" rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

	<script type="application/ld+json">{
	"@context": "http://schema.org",
	"@type": "Organization",
	"name": "",
	"logo": "images/default-logo.png"
}</script>
	<link rel="stylesheet" href="/css/producto.css" />

	<body>
		<%- include('./../partials/header') %>
			<main>
				<section class="u-align-center u-clearfix u-section-1" id="carousel_b3ee">
					<div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
						<!--product-->
						<!--product_options_json-->
						<!--{"source":""}-->
						<!--/product_options_json-->
						<!--product_item-->
						<div class="u-container-style u-expanded-width u-product u-product-1">
							<div
								class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-valign-top-sm u-valign-top-xs u-container-layout-1">
								<!--product_image-->
								<img alt=""
									class="u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-product-control u-image-1"
									src="/images/<%= producto.nombre_imagen %>">
								<!--/product_image-->
								<div
									class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
									<div class="u-container-layout u-valign-middle u-container-layout-2">
										<div
											class="u-border-3 u-border-palette-4-base u-line u-line-horizontal u-line-1">
										</div>
										<!--product_title-->
										<h2 class="u-custom-font u-font-merriweather u-product-control u-text u-text-1">
											<a class="u-product-title-link" href="#">
												<!--product_title_content-->
												<%= producto.titulo %>
													<!--/product_title_content-->
											</a>
										</h2>
										<!--/product_title-->
										<!--product_price-->
										<div
											class="u-custom-font u-font-merriweather u-product-control u-product-price u-product-price-1">
											<div class="u-price-wrapper u-spacing-10">
												<!--product_old_price-->
												<div class="u-hide-price u-old-price"
													style="text-decoration: line-through !important;"
													wfd-invisible="true">
													<!--product_old_price_content-->$12
													<!--/product_old_price_content-->
												</div>
												<!--/product_old_price-->
												<!--product_regular_price-->
												<div class="u-price u-text-palette-4-base"
													style="font-size: 1.5rem; font-weight: 700;">
													<!--product_regular_price_content-->$<%= producto.precio%>
														<!--/product_regular_price_content-->
												</div>
												<!--/product_regular_price-->
											</div>
										</div>
										<!--/product_price-->
										<!--product_content-->
										<div class="u-product-control u-product-desc u-text u-text-default u-text-2">
											<!--product_content_content-->
											<p>
												<%= producto.descripcion %>
											</p>
											<!--/product_content_content-->
										</div>
										<!--/product_content-->
										<!--product_button-->
										<!--options_json-->
										<!--{"clickType":"add-to-cart","content":""}-->
										<!--/options_json-->
										<button
											class="u-btn u-button-style u-hover-grey-75 u-palette-4-base u-product-control u-btn-1"
											onclick="agregaCarrito(producto)">
											Añadir al carrito
										</button>
										<!--	
										<a href="/producto/editar/ <%= producto.id%> "
											class="u-border-0 u-btn u-button-style u-hover-palette-4-dark-1 u-palette-5-dark-2 u-product-control u-btn-2">
											Editar Producto
										</a>

										<form action="/producto/delete/ <%=producto.id%>?_method=DELETE " method="POST">
											<button type="submit"
												class="u-border-0 u-btn u-button-style u-hover-palette-4-dark-1 u-palette-5-dark-2 u-product-control u-btn-2">
												Eliminar Producto</button>
										</form>
									-->
									</div>
								</div>
							</div>
						</div>
						<!--/product_item-->
						<!--/product-->
						</p>
					</div>
				</section>
			</main>
			<%- include('./../partials/footer') %>
				<script src="/js/agregaCarrito.js"></script>
	</body>

</html>